

<%= @listing.property_type %><p>property_type</p></br>
<%= @listing.own_home %><p>own home</p></br>
<%= @listing.guest_quantity %><p>guest quantity</p></br>
<%= @listing.bedroom_quantity %><p>bedroom_quantity</p></br>
<%= @listing.bed_quantity %><p>bed_quantity</p></br>
<%= @listing.bathroom_quantity %><p>bathroom_quantity</p></br>
<%= @listing.country %><p>counrty</p></br>
<%= @listing.street_name %><p>street_name</p></br>
<%= @listing.property_name %><p>property_name</p></br>
<%= @listing.city %><p>city</p></br>
<%= @listing.state %><p>state</p></br>
<%= @listing.zip_code %><p>zip_code</p></br>
<%= @listing.amenities %><p>amenities</p></br>
<%= @listing.spaces_can_use %><p>spaces_can_use</p></br>
<%= @listing.price_night %><p>price_night</p></br>
<%=image_tag(@listing.avatar_url)%>

