

<a href="https/rbrberb.wrgb"><img class="logo" src="https://d3ui957tjb5bqd.cloudfront.net/uploads/2015/09/airbnb-2.jpg"/></a>
    <% if signed_in? %>
           <button class="top-buttons"><%= link_to "Sign out", sign_out_path, :method=>:delete %></button>
           <button class="top-buttons"><%= link_to "Become a host", new_listing_path %></button>
         <%else%>
      <button class="top-buttons"><%= link_to "Reservation", reservations_path%></button>
     <button class="top-buttons">Log in</button>
     <button class="top-buttons" data-toggle="modal" data-target="#signup">Sign up</button>
     	<div class="modal fade" id="signup" role="dialog">
    		<div class="modal-dialog modal-lg">
      			<div class="modal-content">
        			<div class="modal-header">
                <div class="col-md-4"></div>
                  <div class="col-md-4">
          				  <button type="button" class="btn btn-default btn-lg"><%= link_to "Sign in with Facebook", "/auth/facebook" %></button>
          			       </div></div>
                 		   <div class="modal-body">
                          <div class="col-md-4"></div>
                              <div class="col-md-4">
          					             <button type="button" class="btn btn-default btn-lg"><%= link_to "Sign up with email",sign_in_path%></button>
        				              </div></div>
        				                  <div class="modal-footer">
          					                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        				                  </div>
      			               </div>
    		              </div>
  		            </div>
                             <button class="top-buttons">Help</button>
           <button class="top-buttons">Become a host</button>
         <% end %>
<div class = "container">
     <div class="trips">Unforgettable trips start with Airbnb.</div>
    <div class="books">Book places to stay and things to do <br> around the world.</div>
    </div>

    <div class="container2">
    <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
    <div class="location col-md-4">&nbsp;&nbsp;Where<br>
    <div class="row">
            <%= text_field_tag :search, params[:search], placeholder: "Destination, city, address" %>
    </div>
    </div>

    <div class="guest col-md-4">&nbsp;&nbsp;When<br>
    <div class="row">
            <input type="text"
            maxlength="50" size="10" placeholder="&nbsp;&nbsp;Check in">
            <input type="text" name="location"
            maxlength="50" size="10" placeholder="-> Check out">
    </div>
    </div>

     <div class="guest col-md-4">&nbsp;&nbsp;Guests<br>
     <div class="row">
            <span><input type="text"
            maxlength="10" size="8" value="&nbsp;&nbsp;1 guest"></span>
            <a href=""><span><img class="smallbutton" src="https://i.imgsafe.org/a90f420ea7.png"/></span></a>
            <%= submit_tag "Search" %>
            <% end %>
    </div>
    </div></div>
  
<div class="home">Homes</div>
  <div class = "room-panel">
    <% @listings.each do |listing| %>
    <div class = room-card>
      <div  class="roompic col-md-4">
        <%= listing.id %>
        <%=image_tag(listing.avatar.medium.url) if listing.avatar?%>
          <span class="pricebold">RM <%=listing.price_night%>  <%=listing.property_type%> in <%=listing.country%><%=listing.state%> </span><br>
          <%=listing.bedroom_quantity%>bedroom · <%=listing.bed_quantity%> bed</span>
          </div>
    </div>
     <% end %>
</div>




    <div class="questions">Frequently asked questions</div>

  <div  class="linediv"><span class="firstbold">
  When am I charged for a reservation?
</span><br><br>
  If the listing allows you to book instantly, you'll be charged at the time of booking. Otherwise, you'll be charged once the host accepts your request to book.
 <br>
 <br>
 <span class="secondbold">Was this helpful?
 <a href=""><span class="yesno">Yes</span></a> or
 <a href=""><span class="yesno">No</span></a>
 </span>
 </div>
 <div  class="linediv"><span class="firstbold">
  What methods of payment does Airbnb accept?
</span><br><br>
  We support a range of methods based on where you live (ex: credit card, PayPal, Alipay). We'll show you a list of available payment options on the checkout page.
 <br>
 <br>
 <span class="secondbold">Was this helpful?
 <a href=""><span class="yesno">Yes</span></a> or
 <a href=""><span class="yesno">No</span></a>
 </span>
 </div>
 <div  class="linediv"><span class="firstbold">
  Can I message a host without booking a reservation?
</span><br><br>
<div>
  Yes. You can message a host before booking to ask them about their availability, the listing, or anything else you might need to know.
  </div>
 <br>
 <br>
 <span class="secondbold">Was this helpful?
 <a href=""><span class="yesno">Yes</span></a> or
 <a href=""><span class="yesno">No</span></a></span></div>
 <div class="linediv2">
 <div class="linediv3">
 </div>
 </div>
<div class="text"> <img class="logo2" src="https://d3ui957tjb5bqd.cloudfront.net/uploads/2015/09/airbnb-2.jpg">© Airbnb, Inc.</div>
<div class="text2">
<a href="">Terms & Privacy</a>
<a href="">Site Map</a>
<a href=""><img class="imglink" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSItDufNGjAlsx2Kf4awCyuBFHtWUyObUA6YGEZB1mEP08vUHix"/></a>
<a href=""><img class="imglink" src="http://www.welltodolondon.com/wp-content/uploads/2015/11/twitter-4-xxl1.png"/></a>
<a href=""><img class="imglink" src="https://image.freepik.com/free-icon/instagram-social-network-logo-of-photo-camera_318-64651.jpg"/></a>
</div>
</div>
