

<a href="https/rbrberb.wrgb"><img class="logo" src="https://d3ui957tjb5bqd.cloudfront.net/uploads/2015/09/airbnb-2.jpg"/></a>
    <% if signed_in? %>
           <button class="top-buttons"><%= link_to "Sign out", sign_out_path, :method=>:delete %></button>
           <button class="top-buttons"><%= link_to "Become a host", new_listing_path %></button>
         <%else%>
      <button class="top-buttons"><%= link_to "Reservation", reservations_path%></button>
     <button class="top-buttons">Log in</button>
     <button class="top-buttons" data-toggle="modal" data-target="#signup">Sign up</button>
     	<div class="modal fade" id="signup" role="dialog">
    		<div class="modal-dialog modal-lg">
      			<div class="modal-content">
        			<div class="modal-header">
                <div class="col-md-4"></div>
                  <div class="col-md-4">
          				  <button type="button" class="btn btn-default btn-lg"><%= link_to "Sign in with Facebook", "/auth/facebook" %></button>
          			       </div></div>
                 		   <div class="modal-body">
                          <div class="col-md-4"></div>
                              <div class="col-md-4">
          					             <button type="button" class="btn btn-default btn-lg"><%= link_to "Sign up with email",sign_in_path%></button>
        				              </div></div>
        				                  <div class="modal-footer">
          					                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        				                  </div>
      			               </div>
    		              </div>
  		            </div>
                             <button class="top-buttons">Help</button>
           <button class="top-buttons">Become a host</button>
         <% end %>
<div class = "container">
     <div class="trips">Unforgettable trips start with Airbnb.</div>
    <div class="books">Book places to stay and things to do <br> around the world.</div>
    <div class="location">&nbsp;&nbsp;Where<br>
            <input type="text"
            maxlength="120" size="33" placeholder="&nbsp;&nbsp;Destination, sity, address">
    </div>
    <div class="guest">&nbsp;&nbsp;When<br>
            <input type="text"
            maxlength="120" size="16" placeholder="&nbsp;&nbsp;Check in">
            <input type="text" name="location"
            maxlength="120" size="16" placeholder="-> Check out">

    </div>
     <div class="guest">&nbsp;&nbsp;Guests<br>
            <span><input type="text"
            maxlength="10" size="8" value="&nbsp;&nbsp;1 guest"></span>
            <a href=""><span><img class="smallbutton" src="https://i.imgsafe.org/a90f420ea7.png"/></span></a>
            <button style="color: white">Search</button>
    </div>

  
<div class="home">Homes</div>
  <div class = "room-panel">
    <% @listings.each do |listing| %>
    <div class = room-card>
      <div  class="roompic">
        <%=image_tag(listing.avatar.medium.url) if listing.avatar?%></div>
          <span>
          <span class="pricebold">RM <%=listing.price_night%>  <%=listing.property_type%> in <%=listing.country%><%=listing.state%> </span><br>
          <%=listing.bedroom_quantity%>bedroom · <%=listing.bed_quantity%> bed</span>
    </div>
     <% end %>
</div>



<div class="home">Featured destinations</div>
<div class ="room-panel">
  <div  class="room">
      <a href=""><img class="citypic" src="https://a0.muscache.com/ac/pictures/ebbb24af-52d6-490c-89e9-16cc560140e8.jpg?/"></a>
         <a href=""><p>
      <span class="pricebold">London</span>
  </div>
  <div  class="room">
      <a href=""><img class="citypic" src="https://a0.muscache.com/ac/pictures/0c79a1b5-333a-421b-b9e3-effb8b9b9958.jpg?/"></a>
         <a href=""><p>
      <span class="pricebold">Seul</span></p></a>
  </div>
  <div  class="room">
      <a href=""><img class="citypic" src="https://a0.muscache.com/ac/pictures/1d8ecdb4-da01-4d35-9c9e-2ef6ca604eca.jpg?/"></a>
         <a href=""><p>
      <span class="pricebold">Tokyo</span></p></a>
  </div>
  <div  class="room">
      <a href=""><img class="citypic" src="https://a0.muscache.com/ac/pictures/d915ce17-d822-426d-b549-0c7b641fec56.jpg?/"></a>
         <a href=""><p>
      <span class="pricebold">Paris</span></p></a>
  </div>
  <div  class="room">
      <a href=""><img class="citypic" src="https://a0.muscache.com/ac/pictures/be1dee1c-2ce7-4efb-aca8-26d47a59514b.jpg?/"></a>
         <a href=""><p>
      <span class="pricebold">Florence</span></p></a>
  </div>
  <div  class="room">
      <a href=""><img class="citypic" src="https://a0.muscache.com/ac/pictures/7bff51c1-3c35-47a5-a86c-5ea75ab6be6c.jpg?/"></a>
         <a href=""><p>
      <span class="pricebold">Los Angeles</span></p></a>
  </div>
</div>
<div class="experience">Most popular experiences</div>
<div class ="room-panel">
  <div  class="room">
      <a href=""><img class="exppic" src="https://a0.muscache.com/im/pictures/f26e3064-fc1f-46e5-a06c-2d9325bccf5c.jpg?/"></a>
         <a href=""><p>
      <span class="pricebold">$60</span><br>
          2 hours · food market & tastings</p></a>
  </div>

     <div  class="room">
      <a href=""><img class="exppic" src="https://a0.muscache.com/im/pictures/47ab2c6d-ea01-499c-8670-f6844340d57b.jpg?></a>
         <a href=""><p>
      <span class="pricebold">$105</span><br>
          3 days · live jazz & salsa</p></a>
  </div>
  <div  class="room">
      <a href=""><img class="exppic" src="https://a0.muscache.com/im/pictures/ebeb7b46-f695-44d0-a20c-ffc5beb26e32.jpg?></a>
         <a href=""><p>
      <span class="pricebold">$47</span><br>
          3 hours · cycling & neighborhood</p></a>
  </div>
  <div  class="room">
  <div class = "col-md-4"
      <a href=""><img class="exppic" src="https://a0.muscache.com/im/pictures/2876d4e6-3782-418b-a942-04bf0f10e18f.jpg?></a>
         <a href=""><p>
      <span class="pricebold">$83</span><br>
          3 days · biking & neighborhood</p></a>
  </div>
   <div class="maintop">
  <div><span class=hostingbold>
  Hosting opens up a world of opportunity</span><br>
  Earn money sharing your extra space with <br>travelers.</div>
  <button class="greenbutton">See What You Can Earn</button></div>
  <div class="room">
  <img class="rooom" src="https://a0.muscache.com/im/pictures/6577effa-6d50-4abf-b0b6-bee8c6f9d902.jpg?aki_policy=promo_hero"/></div>

    <div class="questions">Frequently asked questions</div>

  <div  class="linediv"><span class="firstbold">
  When am I charged for a reservation?
</span><br><br>
  If the listing allows you to book instantly, you'll be charged at the time of booking. Otherwise, you'll be charged once the host accepts your request to book.
 <br>
 <br>
 <span class="secondbold">Was this helpful?
 <a href=""><span class="yesno">Yes</span></a> or
 <a href=""><span class="yesno">No</span></a>
 </span>
 </div>
 <div  class="linediv"><span class="firstbold">
  What methods of payment does Airbnb accept?
</span><br><br>
  We support a range of methods based on where you live (ex: credit card, PayPal, Alipay). We'll show you a list of available payment options on the checkout page.
 <br>
 <br>
 <span class="secondbold">Was this helpful?
 <a href=""><span class="yesno">Yes</span></a> or
 <a href=""><span class="yesno">No</span></a>
 </span>
 </div>
 <div  class="linediv"><span class="firstbold">
  Can I message a host without booking a reservation?
</span><br><br>
<div>
  Yes. You can message a host before booking to ask them about their availability, the listing, or anything else you might need to know.
  </div>
 <br>
 <br>
 <span class="secondbold">Was this helpful?
 <a href=""><span class="yesno">Yes</span></a> or
 <a href=""><span class="yesno">No</span></a></span></div>
 <div class="linediv2">
 <div class="linediv3">
 </div>
 </div>
<div class="text"> <img class="logo2" src="https://d3ui957tjb5bqd.cloudfront.net/uploads/2015/09/airbnb-2.jpg">© Airbnb, Inc.</div>
<div class="text2">
<a href="">Terms & Privacy</a>
<a href="">Site Map</a>
<a href=""><img class="imglink" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSItDufNGjAlsx2Kf4awCyuBFHtWUyObUA6YGEZB1mEP08vUHix"/></a>
<a href=""><img class="imglink" src="http://www.welltodolondon.com/wp-content/uploads/2015/11/twitter-4-xxl1.png"/></a>
<a href=""><img class="imglink" src="https://image.freepik.com/free-icon/instagram-social-network-logo-of-photo-camera_318-64651.jpg"/></a>
</div>
</div>
